tipos-e-variaveis/.vscode/settings.json
/react/Tic-Tac-Toe/project/node_modules/
/.vscode/
/java/.metadata
/java/Curso_Java/bin/
/java/Curso_Java2/bin/
/python/build/
/python/kivy_project/Scripts/
/python/kivy_project/share/
/python/kivy_project/Lib/
/python/kivy_project/Include/